html{
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

body{
	color: #3C3C3C;
	z-index: -1;
}

/*header-cover*/
.header-cover{
	width: 100%;
	height: 145px;
}


.fa-gray{
    margin: 0 2px;
    color: #9c9c9c;
}
.gray{
    color: #c3c3c3;
    cursor: pointer;
}
.fa-orange{
    margin: 2px;
    color: #f40;
}
/*header-cover*/
.header-cover{
	width: 100%;
	height: 145px;
	
}

/*top-info*/
.header-cover .top-info{
	margin: 0 auto;
	width: 1190px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #eee;
}

/*top-left*/
.top-rightwrap,.top-leftwrap{	
	height: 35px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
}
.top-rightwrap{
	width: 650px;
	float: right;
}
.top-leftwrap{
	width:500px;
	float: left;
}
.top-left,.top-right{
	height: 35px;
    line-height: 35px;
}
.top-left{
    float: left;
}
.top-right{
    float: right;
}
.top-left li,.top-right li,.top-left4,.top-right4{
	display: inline-block;
	float: left;
	padding: 0 6px;
	height: 35px;
	cursor: pointer;
}



/*icon*/
.top-left li i,.top-right li i{
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-top: 12px;
	margin-right: 5px;
	cursor: pointer;
}
/*nav-文字*/
.top-left li a,.top-right li a,span.top1{
	display: inline-block;
	float: left;
	margin-right: 7px;	
	height: 35px;
	line-height: 35px;	
}
/*down-icon*/
.down-icon{
    display:inline-block;
    float: left;
    width: 3px;
    height: 3px;
    padding:0 2px;
   	margin-top:16px ;
  	background: url(../img/arrow.png) no-repeat center center;
}
/*vertical-line*/
.vertical-line{
	height: 35px;
	padding: 0 5px;
	float: left;
}			

/*user-box*/
.country-box,
.user-box,
.msg-box,
.my-taobao-box,
.get-box,
.center-box,
.custom-box,
.nav-box{
    z-index: 99999;
    position: absolute;
    top: 35px;
    width: 260px;
	height: 170px;
    border: 1px solid #eee;
    border-top: none;
  	overflow: hidden;
    background: #fff;
    display: none;
}

.country-box{
	height: 290px;	
	overflow-y: visible;
	left: 0;
	top: 35px;
}
.country-box li:hover{
	background: #f4f4f4;
}
.country-box li{
	cursor: pointer;
}

.user-box{
	left: 74px;
	overflow: hidden;
	height: 140px;
}
.country-box li{
	height: 30px;
	line-height: 30px;
	padding-left: 6px;	
}
/*user-box*/
/*my-head*/
.my-head{
    float: left;
    margin: 25px 1px 15px 25px;
    border-radius: 35px;
}
/*my-grow*/
.my-grow{
    float: right;
    margin: 5px 0 0 0;
    width: 148px;
    height: 85px;
}
.my-grow > div{
    float: right;
    margin-right: 8px;
}
.my-grow p{
    clear: both;
    line-height: 20px;
}


/*my-privilege*/
.my-privilege{	
    clear: both;
    height: 25px;
    width: 90%;
    line-height: 25px;
    text-align: center;
    background: rgb(255,240,232);
    border: 1px solid rgb(255,232,222);
    margin: 0  auto;
}

.msg-box{
	height: 35px;
	padding: 0 20px;
	left: 113px;
}
.msg-box a{
	float: right;
}

/*my-taobao-box*/
.my-taobao-box{
    width: 80px;
    height: 56px;
}
.my-taobao-box li{
    width: 95.5%;
    height: 28px;
    line-height: 28px;
    color: #6C6C6C;
    cursor: pointer;
    padding-left: 4.5%;
}
.my-taobao-box li:hover{
    background: #f3f3f3;
}

/*check-shopp*/
.check-shopp{
    padding: 5px;
    background: #f40;
    color: #fff;
}
.check-shopp:hover{
    color: #fff;
}
/*get-box*/
.get-box{
    left: 154px;
    width: 77px;
    height: 58px;
}
.get-box li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #6C6C6C;
    cursor: pointer;
}
.get-box li:hover{
    background: #f3f3f3;
}
/*center-box*/
.center-box{
    left: 310px;
    width: 80px;
    height: 168px;
}
.center-box li{
    width: 95.5%;
    height: 28px;
    line-height: 28px;
    color: #6c6c6c;
    cursor: pointer;
    padding-left: 4.5%;
}
.center-box li:hover{
    background: #f3f3f3;
}
/*custom-box*/
.custom-box{
    right:384px;
    width: 75px;
    height: 56px;
}
.custom-box li{
    width: 95.5%;
    height: 28px;
    line-height: 28px;
    color: #6c6c6c;
    cursor: pointer;
    padding-left: 4.5%;
}
.custom-box li:hover{
    background: #f3f3f3;
}
/*nav-box*/
.nav-box{
    right: 0;
    width: 1190px;
    height: 400px;
  /*  display: none;*/
}
/**********************sub-nav*********************/
.sub-nav{
    position: relative;
    margin: 6px auto;
    width: 1190px;
    height: 88px;
    overflow: hidden;
}
/*top-sub-nav*/
.top-sub-nav{
    height: 100%;
}
/*sub-nav-cell*/
.sub-nav-cell{
    float: left;
    width: 280px;
    padding-left: 12px;
    height: 100%;
    border-right: 1px solid #eee;
}
.sub-nav-cell:last-child{
    border-right: none;
}

.sub-nav-cell > h3{
    margin-bottom: 3px;
    font-size: 17px;
}
.orange{
    color: #f40;
}
.green-sp{
    color: #9fb838;
}
.red-now{
    color: #db69a2;
}
.blue-more{
    color: #2e9fdb;
}
.sub-nav-box li {
    display: inline-block;
    margin: 0 4px;
    height: 25px;
    line-height: 25px;
    width: 58px;
}
.sub-nav-box-1 li {
    width: 80px;
}
/*sub-nav-box*/
.sub-nav-box  a {
    display: inline-block;
    height: 25px;
    text-align: center;
    padding: 0 3px;
}
.sub-nav-box  a:hover{
    border-radius: 4px;
    background: #f40;
    color: #fff;
}
.sp a:hover{
    background: #a0b959;
}
.now a:hover{
    background: #df61ab;
}
.more a:hover{
    background: #55a0e5;
}
		
/******************scroll-search*******************/
.scroll-search-box{
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 10px;
    width: 100%;
    height: 40px;
    padding: 7px 0;
    background: #FFF;
    top: 0;
    left: 0;
}
.scroll-search{
    width: 1190px;
    height: 40px;
    margin:auto;
}

/*scroll-logo*/
.scroll-logo{
    float: left;
    margin-right: 15%;
}

/*scroll-search-boxf*/
.scroll-search-boxf{
    float: left;
    height: 36px;
    width: 630px;
    border: solid 2px #ff5000;
    border-right: none;
	border-radius: 20px;
	position: relative;
}

/*scroll-search-nav*/
.scroll-search-nav{
    height: 36px;
    width: 74px;
    position: absolute;
    background: #f4f4f4;
    left: 0;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    cursor: pointer;
}

.scroll-search-nav span.current-title{
	width: 50px;
	height: 36px;
	display: inline-block;
	position: relative;
	left: 14px;
	font-weight: 400;
}

.scroll-search-nav span.down-icon{
	width: 6px;
	height: 5px;
	padding: 4px 3px 3px;
	position: relative;
	left: 60px;
	margin-top: 12px;
}

.scroll-search-input{
    left: 74px;
    width: 472px;
    height: 24px;
    padding: 6px 0;
    position: absolute;
}

.scroll-search-input input{
	width: 472px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	top: 6px;
	left: 10px;
	border: none;
	outline: 0;
	background: transparent;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;	
}

.scroll-search-input .scroll-search-phone{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer;
}
.scroll-search-input .scroll-search-img{
	width: 16px;
	height: 24px;
	position: absolute;
	left: 10px;
	top: 6px;
}

.scroll-search-button{
	width: 74px;
	height: 40px;
	position: absolute;
	top: -2px;
	right: 0;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	background-color: #FF4200;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
	border: none;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
}

.scroll-search-toggle-box{
	z-index: -1;
	width: 74px;
    height: 114px;
    position: absolute;
    top: 0;
    border-top: none;
  	overflow: hidden;
    text-align: center;
    background: #f4f4f4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

.scroll-search-toggle-box li{
    cursor: pointer;
    height: 74px;
    height: 36px;
    line-height: 36px;
}
.scroll-search-toggle-box li:nth-child(2){	 
	background: linear-gradient(#f40,#f40) no-repeat;
	background-size: 64px 1px;
	background-position: 5px 31px;
}
.scroll-search-toggle-box li:hover{
    color: #f40;
}


/*.top-ad*/
.top-ad{
	width: 100%;
	height: 99px;
	background: rgb(155,47,255) url(../img/top-bg.png) no-repeat center center;
}
.top-ad-cover{
	width: 1190px;
	height: 99px;
	margin: 0 auto;
}
.top-ad-cover a{
	display: inline-block;
}
.main-entry{
	float: left;
	width: 118px;
	height: 99px;
}
.main-entry img{
	position: relative;
	top:10px;
}
.list-f1{
	float: left;
}
.list-f1 a{
	width: 200px;
	height: 78px;
	margin-left: 7px;
	margin-top: 10px;
}
.white-box{
	height: 10px;
	width: 1190px;
	margin: 0 auto;
	background: #FFF;
}

			
/*两侧背景*/
.bg{
	position: relative;
	background: red;
}
.left-bg,.right-bg{
	width: 240px;
	height: 800px;
	z-index:3;
}
.left-bg{
	position: absolute;
	display: block;
	top: -10px;
	left:-240px;
}
.right-bg{
	position: absolute;
	display: block;
	top: -10px;
	left:1190px;
}


/* 搜索框 */
.search	{
	width: 1190px;
	height: 140px;
	background: #FFF;
	margin: 0 auto;
	display: block;
	position: relative;
}
.search .logo{
	width: 190px;
	height: 140px;
	float: left;
}

.search .search-box{
	display: block;
	margin-left: 258px;
	margin-right: 302px;
	width: 630px;
	height: 87px;
	position: absolute;
	top: 26px;
}
.search .search-nav{
	position: relative;
	left: 16px;
	width: 613px;
	height: 22px;
	display: block;
}
.search .search-nav li{
	text-align: center;
	display: inline-block;
	width: 36px;
	height: 22px;
	line-height: 22px;
	color: F40;
	margin-right: 4px;
	cursor: pointer;
}
.search .search-nav li:hover{
	color:#FF5400;
	background: #FFEEE5;
}
.search .search-nav li.selected{
	color: #FFF;
	font-weight: 700;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%) repeat-x;
	border-radius: 6px 6px 0 0;
}

.search-box .search-boxf{
	width: 628px;
	height: 36px;
	border: solid 2px #ff5000;
	border-radius: 20px;	
	display: block;
	position: relative;
}


.search-box .search-boxf .search-input{
	width: 554px;
	height: 36px;
	position: relative;
	left: 0;
	display: inline-block;
}
.search-box .search-boxf .search-input input{
	width: 472px;
	height: 36px;
	line-height: 36px;
	border: none;
	outline: 0;
	padding-bottom: 6px;
	background: transparent;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	position: absolute;
	left: 10px;
	
}
.search-box .search-boxf .search-phone{
	width: 24px;
	height: 36px;
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 8px;
	cursor: pointer;
}

.search-box .search-boxf .search-btn{
	display: inline-block;
	width: 74px;
	height: 40px;
	position: absolute;
	top: -2px;
}
.search-box .search-boxf .search-btn button{
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	background-color: #FF4200;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
	border: none;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
}
.search-box .search-boxf .search-img{
	width: 16px;
	height: 24px;
	position: absolute;
	left: 12px;
	top: 10px;
}

/*热搜链接*/
.search-box .search-hots{
	display: block;
	width: 630px;
	height: 25px;
	position: relative;
	padding-top: 6px;
}
.search-box .search-hots div{
	display: none;
}
.search-box .search-hots div.selected{
	display: block;
}
.search-box .search-hots a{
	cursor: pointer;
	height: 18px;
	line-height: 18px;
	margin-right: 8px;
	margin-bottom: 5px;
	white-space: nowrap;
	float: left;
}
.search-box .search-hots div a.readmore{
	width: 36px;
	height: 19px;
	float: right;	
}

/*淘宝二维码*/
.search .qrcode{
	width: 76px;
	height: 90px;
	display: block;
	position: relative;
	left: 1004px;
	top: 24px;
	background: green;
}

.search .qrcode .qrcode-pic{
	width: 74px;
	height: 88px;
	border: 1px solid #eee;
	background: #FFF;
	display: block;
	cursor: pointer;
}
.search .qrcode .qrcode-pic:before,.qrcode-pic:after{
	content:"";
	display: table;
}
.search .qrcode .qrcode-pic:after{
	height: 0;
	line-height: 0;
	visibility: visible;
	clear: both;
}
.search .qrcode .qrcode-pic span{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 78px;
	display: inline-block;
	color: red;
	margin: 3px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.search .qrcode .qrcode-pic img{
	width: 62px;
	height: 62px;
	position: absolute;
	top: 24px;
	left: 7px;
}

/*关闭二维码*/
.search .qrcode .qrcode-close{
	width: 14px;
	height: 14px;
	cursor: pointer;
	display: block;
	border: 1px solid #eee;
	position: absolute;
	text-align: center;
	top: 0;
	left: -16px;
}


/******************header-nav*******************/

.header-nav-wrap ul li a,.header .header-nav h2,.header .header-nav .line-a{
	font-size: 16px;  
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.header .header-nav h2{
	width: 190px;
	display: inline-block;
    background: #ff5000;
    cursor: pointer;
}
.header .header-nav ul{
	list-style: none;
	display: inline-block;
}
.header .header-nav ul li{
	list-style: none;
	display: inline-block;
}	
.header .header-nav ul li:hover{
	background: #FF4400;
	border-radius: 15px;
}
.header-nav{
	width:100%;
	height: 30px;
	line-height: 30px;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%) repeat-x;
}
.header-nav-wrap{
	width: 1190px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}

.header-nav-left li{
	margin: 0 3px;
    text-align: center;
    padding: 0 4px;
    cursor: pointer;
}
.header-nav-middle li,.header-nav-right li,.header .header-nav .line-a{
	margin-left: 7px;
	cursor: pointer;
}

.header-nav-wrap ul li a,.header .header-nav h2,.header .header-nav .line-a{
	font-size: 16px;  
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.header .header-nav h2{
	width: 190px;
	display: inline-block;
    background: #ff5000;
    cursor: pointer;
}
.header .header-nav ul{
	list-style: none;
	display: inline-block;
}
.header .header-nav ul li{
	list-style: none;
	display: inline-block;
}	
.header .header-nav ul li:hover{
	background: #FF4400;
	border-radius: 15px;
}
.header-nav{
	width:100%;
	height: 30px;
	line-height: 30px;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%) repeat-x;
}
.header-nav-wrap{
	width: 1190px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}

.header-nav-left li{
	margin: 0 3px;
    text-align: center;
    padding: 0 4px;
    cursor: pointer;
}
.header-nav-middle li,.header-nav-right li,.header .header-nav .line-a{
	margin-left: 7px;
	cursor: pointer;
}			

/*header整体布局*/
.header-bar{
	width: 1190px;
	height: 632px;
	margin: 0 auto;
}
.header-leftbar{
	width: 900px;
	height: 522px;
	float: left;
}
.header-sidebar{
	background: #FFF;
	width: 188px;
	height: 512px;
	border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
    display: inline-block;
    float: left;
    position: relative;
    top: 0;
    left: 0;
}
.header-imgbar{
	margin-left: 10px;
    margin-top: 10px;
    float: left;
    height: 512px;
    width: 520px;
    display: inline-block;
}
.header-imgbar .header-imgbar1{
    overflow: hidden;
    position: relative;
    width: 520px;
    height: 280px;
}



.header-hotimg{
	display: inline-block;
	float: right;
    width: 160px;
    height: 512px;
    margin-right: 10px;
    margin-top: 10px;
}
.header-bottombar{
	background: #FFF;
	top: 10px;
	clear: both;
	position: relative;
    padding: 14px 14px 12px 20px; 
    width: 856px;
    height: 73px;
    overflow: hidden;
}

.header-rightbar{
	background: #FFF;
	float: right;
    width: 290px;
    
    margin-top: 10px;
}

/*侧边栏sidebar*/
.side-li > li h3{
	overflow: hidden;
	
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    color: #666;
}
.side-li > li:hover h3,.side-li > li:hover a{
	color: #FF5000;
}
.side-li > li:hover{	
	background: #ffe4dc;
}

.side-li > li h3 a {
    cursor: pointer;
}
.side-li > li h3 a:hover{
    text-decoration: underline;
}
.side-li > li span{
	position: absolute;
	top: 10.5px;
	right: 10px;
	font-size: 12px;
}

.hiden-box{   
	display:none;
/*	opacity: 0;
	filter: alpha(opacity=0);*/
    position: absolute;
    z-index: 4888;
    left: 188px;
    top: 0;
    padding: 0 0 0 18px;
    width: 692px;
    height: 518px;
    border: 2px solid #F94A14;
    box-shadow: 2px 2px 0 #dcdadb;
    background-color: #FFF;
    color: #333;
    font-size: 12px;
    transition: all .2s;
}

.hiden-box-left{
    padding-top: 10px;
    width: 415px;
    height: 490px;
    overflow: hidden;
    padding-right: 12px;
    padding-left: 10px;
    float: left;
}


.hiden-box-left-block h4{
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #333;
}
.hiden-box-left-block h4 a span{
    font-size: 12px;
    right: -4px;
    position: absolute;
    font-weight: 400;
    top: 0;
}

.hiden-box-left-block h4 a span i{
	position: relative;
    left: -4px;
    font-size: 12px;
}
    
.hblb-content{
    height: 104px;
    overflow: hidden;
    padding-bottom: 33px;
    line-height: 26px;
}
.hblb-content > a{
    display: inline-block;
    white-space: nowrap;
    margin-right: 12px;
}
.hblb-content > a.orange{
    color:#f40;
}

.hiden-box-right{
    float: left;
    width: 253px;
    border-left: 1px solid #f4f4f4;
    position: relative;
    height: 498px;
    padding-top: 20px;
}

.hiden-box-right-head h5{
    line-height: 18px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.hiden-box-right-content a{
    display: inline-block;
    width: 97px;
    height: 143px;
    padding: 10px 0 0 20px;
    overflow: hidden;
}
.hiden-box-right-content img{
	display: block;
    width: 98px;
    height: 97px;
    overflow: hidden;
}
.hiden-box-right-content h5{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    color: #999;
}

/***************header-imgbar1********************/			
.header-imgbar1{
	overflow: hidden;
	position: relative;
    width: 520px;
    height: 280px;
}

.header-imgbar1 .header-imgbar1-box {
	position: relative;
	height: 280px;
    overflow: hidden;
    width: 3640px;
    left: 0px;
    opacity: 1;
}
.header-imgbar1 .header-imgbar1-box li{
	width: 520px;
    height: 280px;
    display: inline-block;
    float: left;
}

/*底部标号*/
.header-imgbar1 .header-imgbar1-dot{
	border-radius: 10px;
    position: absolute;
    bottom: 15px;
    height: 13px;
    text-align: center;
    font-size: 0;
    left: 50%;
    margin-left: -39px;
    background-color: rgba(255,255,255,.3);
    z-index: 1;
}

.header-imgbar1 .header-imgbar1-dot li{
	display: inline-block;
	margin: 3px;
}
.header-imgbar1 .header-imgbar1-dot li a{
	display: block;
	padding-top: 8px;
	width: 8px;
	height: 0;
	border-radius: 50%;
	color: #3c3c3c;
	background: #FFF;
}
.header-imgbar1 .header-imgbar1-dot li a.current{
	background: #FF4400;
}

/*左右翻页*/

.header-imgbar1 .header-imgbar1-turnbtn a,.header-imgbar2 .header-imgbar2-turnbtn a{
	position: absolute;
    top: 45%;
    background-color: rgba(0,0,0,.3);
    display: none;
}
.header-imgbar1 .header-imgbar1-turnbtn.current,.header-imgbar2 .header-imgbar2-turnbtn.current{
	display: block;
}
.header-imgbar1 .header-imgbar1-turnbtn a i,.header-imgbar2 .header-imgbar2-turnbtn a i{
	display: block;
    height: 30px;
    width: 20px;
    line-height: 30px;
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.header-imgbar1 .header-imgbar1-turnbtn a.leftbtn,.header-imgbar2 .header-imgbar2-turnbtn a.leftbtn{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	left: 0;
}

.header-imgbar1 .header-imgbar1-turnbtn a.rightbtn,.header-imgbar2 .header-imgbar2-turnbtn a.rightbtn{
	right: 0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

/***************header-imgbar2********************/	
.imgbar2-wrap{
	position: relative;
    width: 520px;
    height: 230px;
    margin-top: 1px;
    overflow: hidden;
}
.imgbar2-wrap .header-imgbar-logo{
	font-size: 14px;
    padding-top: 11px;
    border-bottom: 3px solid #ff1648;
    position: relative;
    background-color: #f1f1f1;
    overflow: hidden;
    z-index: -1;
}


.imgbar2-wrap .header-imgbar-logo .imgbar-logo-inner{
	height: 18px;
    line-height: 18px;
    position: relative;
   
}
.imgbar2-wrap .header-imgbar-logo .imgbar-logo-inner img{
	width: 136px;
    height: 21px;
    position: absolute;
    bottom: -3px;
    
}
.imgbar2-wrap .header-imgbar-logo .imgbar-logo-inner em{
	font-size: 12px;
    color: #666;
    position: relative;
    margin-left: 145px;	
    font-style: normal
}
.imgbar2-wrap .header-imgbar-logo .imgbar-logo-inner strong{
	position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.imgbar2-wrap .header-imgbar-logo .imgbar-logo-inner .imgbar2-now-count{
	color: red;
}

.header-imgbar2{
	position: relative;
    width: 520px;
    height: 201px;
    z-index: 2;
}

.header-imgbar2 .header-imgbar2-box {
	position: relative;
	height: 201px;
    overflow: hidden;
    width: 3120px;
    left: 0px;
    background: #FFF;
   
}
.header-imgbar2 .header-imgbar2-box li{
	width: 520px;
    height: 201px;
    display: inline-block;
    float: left;
}

.header-imgbar2 .header-imgbar2-dot{
	position: absolute;
	background: black;
    top: -3px;
    height: 3px;
    line-height: 0;
    width: 520px;
    font-size: 0;
    z-index: 1;
}
.header-imgbar2 .header-imgbar2-dot a {
	display: inline-block;
    width: 86.5px;
    height: 3px;
    overflow: hidden;
    margin: 0;
    background: #ff1648;
    line-height: 0;
    font-size: 0;
}

.header-imgbar2 .header-imgbar2-dot a.current{
	background: black;	
}



.header-imgbar2 .header-imgbar2-box li.imgbar2-a a{
	float: left;
    width: 129px;
    height: 57px;
    text-align: center;
    border: 0;
    padding: 5px 0;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
} 
.header-imgbar2 .header-imgbar2-box li.imgbar2-a a img{
    width: 84px;
    height: auto;
    margin-top: 10px;
}
.header-imgbar2 .header-imgbar2-box li.imgbar2-b a,.header-imgbar2 .header-imgbar2-box li.imgbar2-f a{
    width: 251px;
    height: 190px;
    overflow: hidden;
    margin-left: 6px;
} 
.header-imgbar2 .header-imgbar2-box li.imgbar2-b a img,.header-imgbar2 .header-imgbar2-box li.imgbar2-f a img{
	width: 251px;
    height: 190px;
    margin-top: 6px;
}

.header-imgbar2 .header-imgbar2-box li.imgbar2-c a{
	width: 173px;
	height: 100px;
	overflow: hidden;
    border-left: 1px solid #ebebeb;
    margin-left: -1px;
    border-bottom: 1px solid #ebebeb;
    float: left;
}
.header-imgbar2 .header-imgbar2-box li.imgbar2-c a img{
	width: 173px;
}
.header-imgbar2 .header-imgbar2-box li.imgbar2-c a:nth-child(1){
    height: 201px; 
    border: none;
} 

.header-imgbar2 .header-imgbar2-box li.imgbar2-d a,.header-imgbar2 .header-imgbar2-box li.imgbar2-e a{
    width: 129px;
    height: 201px;
    overflow: hidden;
    border-left: 1px solid #ebebeb;
    float: left;
} 
.header-imgbar2 .header-imgbar2-box li.imgbar2-d a img,.header-imgbar2 .header-imgbar2-box li.imgbar2-e a img{
   width: 129px;
   height: 201px;
}
.header-imgbar2 .header-imgbar2-box li.imgbar2-c a:nth-child(1),.header-imgbar2 .header-imgbar2-box li.imgbar2-e a:nth-child(1){
    height: 201px; 
    width: 130px;
    border: none;
} 

/*head-hotimg*/
.header-hotimg .header-hotimg2-wrap{
	margin-top: 1px;
    height: 230px;
    display: block;
}
.header-hotimg .header-hotimg2-wrap h5{
	font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 24px;
    padding-top: 6px;
}


/*header-bottombar*/
.header-bottombar .toutiao{
	width: 180px;
    height: 73px;
    float: left;
}
.header-bottombar .toutiao h3 img{
	position: absolute;
	top: 14px;
}
.header-bottombar .toutiao h3 p{
	margin-top: 42px;
}

.header-bottombar .header-imgbar3{
	height: 73px;
	width: 676px;
	position: relative;
	overflow: hidden;
}
.header-bottombar .header-imgbar3-box {
	height: 219px;
	width: 676px;
	position: relative;
	overflow: hidden;
}
.header-bottombar .header-imgbar3-box li{
	display: block;
    height: 73px;
}
.header-bottombar .header-imgbar3-box li a{
	height: 73px;
	width: 676px;
	cursor: pointer;
	overflow: hidden;
}
.header-bottombar .header-imgbar3-box li a:hover h4{
	color: red;
}
.header-bottombar .header-imgbar3-box li a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
	transition: opacity .2s;
}
.header-bottombar .header-imgbar3-box li a img{
	float: left;
    height: 73px;
    width: 130px;
}
.header-bottombar .header-imgbar3-box li a h4{
	position: relative;
	top: 2px;
    left: 15px;
    color: #333;
    height: 28px;
    overflow: hidden;
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}
.header-bottombar .header-imgbar3-box li a p{
	position: relative;
	left: 15px;
    color: #999;
    height: 36px;
    width: 532px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
}

/*******************rightbar*****************************/
.header-rightbar .right-user-box{
	padding: 3px 0 10px 0;
    height: 132px;
    padding-right: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background:url(../img/rightbar/bg.png);
    background-size: 290px 145px;
    background-position: 0 0;
}
.header-rightbar .right-user-box .user-info{
	height: 91px;
}
.header-rightbar .right-user-box .user-info img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.header-rightbar .right-user-box .user-info p{
	height: 17px;
	line-height: 17px;
	text-align: center;
	display: block;
}
.header-rightbar .right-user-box .user-info a{
	display: inline-block;
	height: 17px;
	line-height: 17px;
    border-radius: 9px;
    background-clip: padding-box;
    background: #ffe4db;
    padding: 0 10px 0 20px;
    position: relative;
    border: none;
}
.header-rightbar .right-user-box .user-info a span{
	background: url(../img/rightbar/tab.png);
	position: absolute;
    display: block;
    height: 16px;
    width: 16px;
    top: 0;
    left: 0; 
    vertical-align: middle;
}
.header-rightbar .right-user-box .user-info a .btn-icon{
	background-position: 0 -572.5px;
}
.header-rightbar .right-user-box .user-info a .btn-club{
	background-position: 0 -528px;
}
.header-rightbar .right-user-box .login{
	height: 40px;
	margin-top: 2px;
	padding-left: 15px;
	overflow: hidden;
}
.header-rightbar .right-user-box .login a{
	float: left;
	height: 25px;
	line-height: 25px;
	width: 75px;
	text-align: center;
	color: #FFF;
	background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	background-repeat: repeat-x;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 700;
	margin-right: 7px;
	margin-top: 8px;
}
.header-rightbar .right-user-box .login a:nth-child(1){
	width: 92px;
}
.header-rightbar .right-info-title{
	height: 26px;
	line-height: 26px;
	display: block;
	padding-left: 82px;
	background: #ffe4dd;
	font-size: 12px;
	color: #f40;
	position: relative;
}
.header-rightbar .right-info-title i{
    position: absolute;
    font-size: 18px;
    top: 3px;
    left: 205px;
    margin-left: 32px;
}

.header-rightbar .right-info-box{
	height: 98px;
    padding-top: 10px;
    width: 290px;
    background: #FFF;
    overflow: hidden;
}
.header-rightbar .right-info-box .right-tab-nav{
	position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.header-rightbar .right-info-box .right-tab-nav li{
	float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.header-rightbar .right-info-box .right-tab-nav .li-current{
	padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #F40;
}
.header-rightbar .right-info-box .right-tab-nav .li-nav-hover{
	color: #FF5000;
	padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #F40;
}
.header-rightbar .right-info-box div{
	margin: 0 12px;
    height: 50px;
    width: 266px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
}
.header-rightbar .right-info-box div a{
	display: inline-block;
	float: left;
    line-height: 25px;
    height: 25px;
    width: 130px;
    overflow: hidden;
}
.header-rightbar .right-service{
	width: 290px;
	height: 232px;
	position: relative;
	overflow: hidden;
}


.header-rightbar .right-service div.service-cell{
	float: left;
    width: 71px;
    height: 75px;
    border: 1px solid #f4f4f4;
    border-bottom: transparent;
    border-right: transparent;
}

.header-rightbar .right-service div.service-hover{
	border-color: #F40;
	border-right: 1px solid #F40;
	border-bottom: 1px solid #FFF;
	z-index: 99;
	height: 73px;
	position: relative;
	overflow: hidden;
}

.header-rightbar .right-service div.service-cell a{
	padding-top: 1px;
    text-align: center;
    display: block;
}
.header-rightbar .right-service div.service-cell a p{
	display: block;
	height: 24px;
	line-height: 24px;
	color: #333;
	
}
.header-rightbar .right-service div.service-cell a i{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    background: url(../img/rightbar/tab.png);
    background-repeat: no-repeat;
}
.header-rightbar .right-service div a i.service-i-1{
	background-position: 0 0 ;
}
.header-rightbar .right-service div a i.service-i-2{
	background-position: 0 -85px ;
}
.header-rightbar .right-service div a i.service-i-3{
	background-position: 0 -44px ;
}
.header-rightbar .right-service div a i.service-i-4{
	background-position: 0 -132px ;
}
.header-rightbar .right-service div a i.service-i-5{
	background-position: 0 -176px ;
}
.header-rightbar .right-service div a i.service-i-6{
	background-position: 0 -220px ;
}
.header-rightbar .right-service div a i.service-i-7{
	background-position: 0 -264px ;
}
.header-rightbar .right-service div a i.service-i-8{
	background-position: 0 -308px ;
}
.header-rightbar .right-service div a i.service-i-9{
	background-position: 0 -352px ;
}
.header-rightbar .right-service div a i.service-i-10{
	background-position: 0 -396px ;
}
.header-rightbar .right-service div a i.service-i-11{
	background-position: 0 -440px ;
}
.header-rightbar .right-service div a i.service-i-12{
	background-position: 0 -484px ;
}
.service-box{
    position: absolute;
    bottom: 0px;
    z-index: 0;
    width: 268px;
    padding: 10px 10px;
    height: 136px;
    display: none;
    border: 1px solid #F40;
    background: #fff;
}

/*service-head*/
.service-head{
    margin: 10px 0;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #f2f2f2;
}
.service-head a{
	display: inline-block;
    padding: 3px 1px;
}
#service-box-1 .service-head a{
	padding: 3px 10px;
}

.service-head a:first-child{
    color: #ff4300;
}
.service-head a:hover{
    color: #ff4300;
}
.service-cell > h6{
    margin: 3px 0 2px 0;
    font-weight: lighter;
    color: #9c9c9c;
}
.service-head span{
    display: block;
    z-index: 5;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    color: #999;
    background-color: #fff;
    cursor: pointer;
}
.service-head span:hover{
    color: #f40;
}	
.service > h3{
    margin: 20px 0 0 10px;
}
/*service-i*/
.service-i{
    height: 30px;
}
.service-i > img{
    margin-top: 6px;
}

/*applist*/
.header-rightbar .right-app{
	position: relative;
	width: 290px;
	height: 111px;
} 
.header-rightbar .right-app h3{
	font-size: 14px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 2;
}
.header-rightbar .right-app h3 span{
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
}
.header-rightbar .right-app ul{
	padding-left: 23px;
    position: relative;
    height: 84px;
}
.header-rightbar .right-app ul li{
	transition: all 0s;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
    cursor: pointer;
}
.header-rightbar .right-app ul li img{
	width: 32px;
    height: 32px;
}


/*help*/
.help{
    width: 1190px;
    height: 140px;
    margin: auto;
    padding-top: 40px;
}
/*help-info*/
.help-info{
    float: left;
    width: 296.5px;
    height: 95px;
    border-right: 1px solid #eee;
}
.help-info:last-child{
    border-right: none;
}
.help-info h1{
    height: 40px;
    line-height: 40px;
}
.help-text{
    vertical-align: top;
    font-size: 16px;
    margin-left: 9px;
    color: #3c3c3c;
}
.help-a{
    color: #999;
    display: inline-block;
    margin: 10px 15px 0 5px;
}
/*footer*/
.footer{
    width: 100%;
    height: 240px;
    margin: 20px auto 0 auto; 
    background: #FFF;
    padding-bottom: 9px;
}
/*footer-left*/
.footer-wrap{
	width: 1190px;
    height: 240px;    
    margin: 0 auto;
    font-family:
tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif
;
}
/*tao-man*/

/*footer-nav*/
.footer-nav{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px; 
    padding-top: 7px;
    margin-bottom: 8px;
    line-height: 27px;
	color: #dedede;
	
}
.footer-nav > a{
    margin: 0 3px;
}

/*about-tao*/
.about-tao{
    width: 100%;
    height: 18px;
    line-height: 18px;
    padding-bottom: 8px;
}
.footer-wrap > p{
	width: 100%;
    height: 18px;
    line-height: 18px;
    padding-bottom: 8px;
}

.final{
    margin-top: 10px;
    background: #FFF;
}

.gray-text{
	color: grey;
}

/***************悬浮菜单*****************/
.xuanfu{
	width: 50px;
	height: 400px;
	position: fixed;
    top: 75px;
    left: calc(50% + 600px);
    display: block;
    transition: none;
    z-index: 99999999;
}

.xuanfu span{
	position: absolute;
    height: 36px;
    width: 50px;
    line-height: 36px;
    text-align: center;
    font-size: 32px;
    color: #ff7f13;
    top: -18px;
    right: 0;
}
.xuanfu a{
	display: block;
	width: 34px;
    height: 44px;
    position: relative;
    text-decoration: none;
    padding: 6px 8px 0;
    background: #fff;
    line-height: 17px;
    font-size: 13px;
    text-align:center;
}
.xuanfu a:after{
	content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: -1px;
    z-index: 1;
}
.xuanfu a:hover{
	background-image: linear-gradient(135deg,#ff971b,#ff5000);
	background-repeat: repeat-x;
	color: #fff;
	font-weight: 700;
}
.xuanfu .xuanfu-1{
	color: #F40;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.xuanfu .xuanfu-2{
	color: #F40;
}
.xuanfu .xuanfu-3{
	color: #8d7afb;
}
.xuanfu .xuanfu-4{
	color: #A8C001;
}
.xuanfu .xuanfu-5{
	color: #F40;
}
.xuanfu .xuanfu-6 i{
	width: 34px;
	height: 20px;
	line-height: 20px;
	color: #999;
}
.xuanfu .xuanfu-7 i{
	width: 34px;
	height: 40px;
	line-height: 40px;
	font-style: normal;
}
.xuanfu .xuanfu-8{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.shenghuo{
	width: 1190px;
	height: 166px;
	margin:10px auto 0 auto
}
.shenghuo img{
	width: 1190px;
	height: 166px;
}

/*******************爱逛好货*************************/
.content-1{
	width: 1190px;
	height: 658px;
	margin: 10px auto 0 auto;
}
.haohuo{
	width: 590px;
    float: left;
    height: 658px;
    background: #FFF;
    
}
.aiguang{
	width: 590px;
    float: left;
    margin-left: 10px;
    height: 658px;
    background: #FFF;
}
.content-1 .titlewrap{
	width: 570px;
	height: 24px;
	line-height: 24px;
	padding-left: 20px;
	margin: 20px 0;
	display: inline-block;
}
.content-1 .titlewrap img{
	width: 74px;
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
}
.content-1 .titlewrap .fa-haohuo{
	font-size: 20px;
    margin: 0;
    color: #ccc;
    position: relative;
    vertical-align: middle;
}
.content-1 .titlewrap .title-left{
	height: 24px;
	line-height: 24px;
    color: #999;
    font-weight: 400;
  	vertical-align: middle;
}
.content-1 .titlewrap .title-right{
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #999;
    text-align: right;
    cursor: pointer;
}
.content-1 .titlewrap .title-right i{
	line-height: 24px;
    height: 24px;
    font-size: 14px;
    width: 12px;
    text-align: center;
}
.content-1 .thingshow{
	overflow: hidden;
	padding-left: 21px;
}
.content-1 .thingshow a{
	display: block;
	float: left;
	width: 180px;
	overflow: hidden;
	margin: 0 4px 17px 0;
	cursor: pointer;
}
.content-1 .thingshow a  .imgwrap{
	background: #4f4f4f;
	overflow: hidden;
}
.content-1 .thingshow a  .imgwrap img{
	width: 100%;
	height: 180px;
	display: block;
	opacity: 0.9;
	filter: alpha(opacity=90);
	transition: all .2s
}
.content-1 .thingshow a  .imgwrap img:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.content-1 .haohuo .thingshow a .info{
	overflow: hidden;
	padding: 0 4px 0 6px;
}
.content-1 .haohuo .thingshow a .info h4{
	margin-top: 5px;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    font-weight: normal;
}
.content-1 .haohuo .thingshow a .info p{
    line-height: 24px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    height: 24px;
}
.content-1 .haohuo .thingshow a .info p.extra {
    line-height: 22px;
    height: 22px;
    margin-top: 12px;
    color: #35b1ff;
}
.content-1  .aiguang .thingshow p{
	margin-top: 11px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}
.content-1  .aiguang .thingshow p:hover{
    color: #F40;
}
.content-1  .aiguang .thingshow p i{
	color: #ebebeb;
    float: left;  
    margin-right: 4px;
    width: 14px;
    height: 22px;
    font-size: 16px;
    display: inline-block;
}

.content-1  .aiguang .thingshow div.extra p{
    margin-left: 30px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #999;	
}
.content-1  .aiguang .thingshow div.extra img{
	width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    float: left;
} 